@charset "UTF-8";
@import url(reset.css);
@import url(ui.lg.mobile.css);

html{height:100%;}
body{height:100%; background:#e4e3e9;}

/* header */
header{position:relative; height:40px; background:#c10c3f; color:#fff;}
header .title {display:flex; height:100%; padding:0 40px; justify-content:center; align-items:center; font-size:14px;}
header button{position: absolute; top:0; width:40px; height:40px; text-indent:-9999999px;}
header .btn-history{left:0; background: url("../images/icon_hsitory.png") no-repeat; background-size: contain;}
header .btn-nav{right:0;background: url("../images/icon_nav.png") no-repeat; background-size: contain;}

/* nav */
.nav-wrap{position: fixed; top:0; left:0; width:100%; height:100%; overflow:hidden;}
.nav-wrap > .inner{position:relative; float:right; width:234px; height:100%; background:rgba(0,0,0, 0.88);}
.nav-wrap .logo{position: fixed; bottom:21.3px;left: 106px;width:43px;height:37.5px;text-indent: -99999px;background:url(../images/nav_logo.png) no-repeat;background-size:cover;}
.gnb{margin-top:46.5px;}
.gnb li a{display: block; padding:5px 30px 5px; color:#fff; font-size:20px;}
.gnb li ul a{padding:7px 30px;font-size:12.5px; color:#999;}
.nav-wrap .info {position:absolute; bottom:77.3px; left:0; width:100%;}
.nav-wrap .info li a{display:block; padding:5px 30px; font-size:10px; color:#999;}
.nav-wrap .btn-close{position:absolute; top:2.5px; right:5.2px; width:30px; height:30px;}
.nav-wrap .btn-close span{position:relative; display:block; width:13.5px; height:13.5px; margin:0 auto; text-indent: -99999px; background:url(../images/icon_close.png) no-repeat; background-size: cover;}

/* contents */
.contents{padding:8px;}

/* footer */
footer{text-align:center;}
footer .copy{font-size:8px; color:#999;}